<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/styles.css">
    <link rel="icon" href="/img/weather.png">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Weather</title>
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>Use this site to get your weather!</p>

        <form>
            <input type="text" placeholder="Location">
            <button>Search</button>
        </form>
        <p id="waiting-message">Getting data from API's</p>
        <table id="results-table">
            <tr>
                <td>Location</td>
                <td><p id="location-message"></p></td>
            </tr>
            <tr>
                <td>Summary</td>
                <td><p id="summary-message"></p></td>
            </tr>
            <tr>
                <td>Maximum Temperature</td>
                <td><p id="temp-max-message"></p></td>
            </tr>
            <tr>
                <td>Minimum Temperature</td>
                <td><p id="temp-min-message"></p></td>
            </tr>
        </table>
        <p id="message-1"></p>
        <p id="message-2"></p>
    </div>
    {{>footer}}
    <script src="./js/app.js"></script>
</body>

</html>